{% extends './lab03/base.html' %}
 
{% block content %}
  <h1>{% block title %} Comments {% endblock %}</h1>
  <div style="width: 50%; margin: auto">
    {% for comment in comments %}
        <div style="padding: 10px;
              background-color: #EEE;
              margin: 20px">
          <p>#{{ loop.index }}</p>
          <div class='message'>
            <h3>{{ comment['title'] }}</h3>
            <p>{{ comment['content'] }}</p>
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}